.nav-bar {
  position: fixed;
  bottom: 25%;
  right: 20px;
  width: 75px;
  height: 50%;
  border: 3px solid #333333;
  background-color: #ffffff;
  padding: 0px;
}

.nav-bar > button {
  margin: 0px;
  border: 3px solid black;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-bar > button:not(.active){
  color: #FFFFFF;
  background-color: #BBBBBB;
}

.nav-bar > button:focus {
  outline: none;
}

.nav-bar > .active{
  color: #BBBBBB;
  background-color: #FFFFFF;
  pointer-events: none;
}

.landing {
  width: 100%;
  max-height: 100vh;
}

body {
  box-shadow: 0px 100VH rgba(28,143,178, 0.5) inset;
  background:
    url('assets/landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body * {
  font-family: "alwyn-new-rounded-web",sans-serif;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
}

/*Landing Page CSS*/

.landing-text * {
  color: #ffffff;
}

.landing-text {
  align-self: center;
}

.landing-text * {
  text-align: center;
  margin: -10px;
}

.landing-text > h1 {
  text-align: center;
  border-bottom: solid 1px #ffffff;
  margin-bottom: 10px;
}

.landing-text > h3 {
  text-align: center;
  margin-bottom: 2%;
}

.landing-text > .more-info {
  padding: 3px;
  border: solid 1px #ffffff;
  margin-top: 20px;
  margin: 0 auto;
  width: 75%;
}

.landing-text > .more-info:hover {
  background-color: #ffffff;
  color: #1C8FB2;
  border: solid 1px #1C8FB2;
}

/*About Me CSS*/

.about-me {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 30px;
  min-height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.about-me .heading {
  margin-bottom: 10px;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #818181;
  margin-bottom: 30px;
  padding-top: 50px;
}

.about-me .heading * {
  text-align: center;
}

.about-me * {
  color: #818181;
}

.about-me .subtitle, .heading h3 {
  color: #1C8FB2;
}

.about-me .heading h5 {
  color: #818181;
}

.bio {
  justify-content: center;
}

.bio-text {
  align-self: center;
  text-align: center;
}

.bio-image img {
  height: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bio-image.show-for-small-only {
  padding-bottom: 20px;
}

.bio-image.hide-for-small-only {
  padding: 10px 10px 0px 10px;
  float: right;
}

.separator {
  margin-bottom: 30px;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #818181;
  margin-bottom: 30px;
  padding-top: 30px;
}

.contact-me .heading {
  margin-bottom: 10px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 50px;
}
  
/*Contact Me CSS*/
  
.contact-me{
  background-color: #1C8FB2;
  border-top: 1px solid #7088B2;
  color: #ffffff;
  height: 100%;
  min-height: 500px;
}

.contact-me .subtitle {
  text-align: center;
}

.contact-me a {
  color: #ffffff;
}

.contact-me *:not(.form-object) {
  color: #ffffff; 
}

.email-form{
  margin: auto;
  width: 50%;
  margin-top: 4vh;
  margin-bottom: 4vh;
  color: #A8A8A8;
}

input[type=text], .form-object {
  border-radius: 5px;
}

.button-div {
  width: 100%;
  text-align: center;
}

input[type=button] {
  width: 20%;
  padding:5px 15px; 
  border:0 none;
  color: #818181;
  background-color: #ffffff;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  height: 4vh;
  min-height: 20px;
}

.email-button:hover {
  color: #ffffff;
  background-color: #818181;
}

.form-object:-moz-placeholder {
  color: #A8A8A8;
}

/*Activity CSS*/

.activity {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 30px;
  min-height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.activity * {
  color: #818181;
}

.activity .heading {
  text-align: center;
  margin-bottom: 10px;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #818181;
  margin-bottom: 30px;
  padding-top: 50px;
}

.running-app {
  text-decoration: underline;
}

/*Footer CSS */

.footer {
  background-color: #3b444c;
  border-top: 3px solid #818181;
  padding: 60px 10px 60px 10px;
}

.social-media {
  text-align: center;
}

.get-in-touch, .name{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.get-in-touch * {
  color: #ffffff;
}

.name *{
  color: #818181;
  font-size: 12px;
}

.name a:hover {
  color: #ffffff;
} 

.social-media a {
  padding: 5px;
}

.social-media a:hover {
  color: #818181;
}

.social-media * {
  color: #ffffff;
}

.portfolio {
  min-height: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.portfolio .heading{
  margin-bottom: 10px;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #818181;
  margin-bottom: 30px;
  padding-top: 5%;
}

.portfolio h5 {
  color: #818181;
}

.portfolio .content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.webLink {
  position:relative;
}

.webLink img {
  border: 1px solid #d9d9d9;
  margin: 10px;
  border-radius: 10px;
}

.description {
  text-decoration: none;
  color: black;
}

.webLink h5 {
  padding: 0px;
}

.divider {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.divider .inner {
  border: 1px solid grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 64em) {

  .overlay {
    max-width: 100%;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.8); 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    opacity: 0;
    padding: 100px;
    padding-top: 20px;
  }

  .overlay:hover {
    opacity: 1;
  }
}

@media only screen and (max-width: 64em) and (min-width: 40em) {
  .webLink {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 40em)  { 
  .about-me {
    padding-left: 0;
    padding-right: 0;
  }

  .about-me .stats {
    align:center;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .email-form {
    width:80%;
  }
  
  .footer {
    background-color: #3b444c;
    border-top: 3px solid #818181;
    padding: 30px 10px 30px 10px;
  }

  .webLink {
    padding-right: 5%;
    padding-left: 5%;
  }
}
