.nav-bar {
  position: fixed;
  bottom: 25%;
  right: 30px;
  width: 75px;
  height: 50%;
  border: 3px solid #333333;
  background-color: #ffffff;
  padding: 0px;
}

.nav-bar > div {
  margin: 0px;
  border: 3px solid black;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar > div:not(.active){
  color: #FFFFFF;
  background-color: #BBBBBB;
}

.nav-bar > .active{
  color: #BBBBBB;
  background-color: #FFFFFF;
}

.landing {
  width: 100%;
  max-height: 100vh;
}

body {
  box-shadow: 0px 100VH rgba(28,143,178, 0.5) inset;
  background:
    url('assets/landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body * {
  font-family: "alwyn-new-rounded-web",sans-serif;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
}

/*Landing Page CSS*/

.landing-text * {
  color: #ffffff;
}

.landing-text {
  align-self: center;
}

.landing-text * {
  text-align: center;
  margin: -10px;
}

.landing-text > h1 {
  text-align: center;
  border-bottom: solid 1px #ffffff;
  margin-bottom: 10px;
}

.landing-text > h3 {
  text-align: center;
  margin-bottom: 2%;
}

.landing-text > .more-info {
  padding: 3px;
  border: solid 1px #ffffff;
  margin-top: 20px;
  margin: 0 auto;
  width: 75%;
}

.landing-text > .more-info:hover {
  background-color: #ffffff;
  color: #1C8FB2;
  border: solid 1px #1C8FB2;
}

/* About Me CSS*/

.about-me {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 30px;
  min-height: 100%;
  width: 100%;
  background-color: #ffffff;

}

.about-me .heading {
  margin-bottom: 10px;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #818181;
  margin-bottom: 30px;
  padding-top: 50px;
}

.about-me .heading * {
  text-align: center;
}

.about-me * {
  color: #818181;
}

.about-me .subtitle, .heading h3 {
  color: #1C8FB2;
}

.about-me .heading h5 {
  color: #818181;
}

.bio {
  justify-content: center;
}

.bio-text {
  align-self: center;
  text-align: center;
}

.bio-image img {
  height: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bio-image.show-for-small-only {
  padding-bottom: 20px;
}

.bio-image.hide-for-small-only {
  padding: 10px 10px 0px 10px;
  float: right;
}

.separator {
  margin-bottom: 30px;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #818181;
  margin-bottom: 30px;
  padding-top: 30px;
}

.contact-me .heading {
  margin-bottom: 10px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 50px;
}
  
/* Contact Me CSS*/
  
.contact-me{
  background-color: #89A1CB;
  border-top: 3px solid #7088B2;
  color: #ffffff;
  height: 100%;
  min-height: 500px;
}

.contact-me .subtitle {
  text-align: center;
}

.contact-me a {
  color: #ffffff;
}

.contact-me *:not(.form-object) {
  color: #ffffff; 
}

.contact-me > .content-links > span {
  background-color: #7088B2;
  border-radius: 0px 0px 2000px 2000px;
  padding: 4px;
  padding-top: 3px;
  padding-bottom: 25px;
  color: #ffffff;
}

.contact-me > .content-links > a:hover {
  color: #7088B2;
}

.email-form{
  margin: auto;
  width: 50%;
  margin-top: 4vh;
  margin-bottom: 4vh;
  color: #A8A8A8; 
}

input[type=text], .form-object {
  border-radius: 5px;
}

input[type=button] {
  width: 100%;
  font-family: "Arial", Helvetica, sans-serif;
  padding:5px 15px; 
  border:0 none;
  color: #ffffff;
  background-color: #D6ABBC;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  height: 4vh;
  min-height: 20px;
}

.email-button:hover {
  color: #F0C5D6;
  background-color: #BD92A3;
}

.form-object:-moz-placeholder {
  color: #A8A8A8;
}

.footer {
  background-color: #3b444c;
  border-top: 3px solid #818181;
  padding: 60px 10px 60px 10px;
}

.social-media {
  text-align: center;
}

.get-in-touch, .name{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.get-in-touch * {
  color: #ffffff;
}

.name *{
  color: #818181;
  font-size: 12px;
}

.name a:hover {
  color: #ffffff;
} 

.social-media a {
  padding: 5px;
}

.social-media a:hover {
  color: #818181;
}

.social-media * {
  color: #ffffff;
}

@media screen and (orientation:portrait) {
  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 8.5vw;
  }

  h3 {
    font-size: 7vw;
  }

  h4 {
    font-size: 6vw;
  }

  h5 {
    font-size: 5vw;
  }
}

@media screen and (orientation:portrait) and (min-width: 450px) {
  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 8.5vw;
  }

  h3 {
    font-size: 5vw;
  }

  h4 {
    font-size: 6vw;
  }

  h5 {
    font-size: 4vw;
  }
}

@media screen and (orientation:landscape) {
  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 75px;
  }

  h3 {
    font-size: 3vw;
  }

  h4 {
    font-size: 6vw;
  }

  h5 {
    font-size: 2vw;
  }
}

@media  screen and (min-width: 30em) and (max-width: 60em)  { 
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 85px;
  }

  h3 {
    font-size: 4vw;
  }

  h4 {
    font-size: 7vw;
  }

  h5 {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 40em)  { 
  .about-me {
    padding-left: 0;
    padding-right: 0;
  }

  .about-me .stats {
    align:center;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .email-form {
    width:80%;
  }
  
  .footer {
    background-color: #3b444c;
    border-top: 3px solid #818181;
    padding: 30px 10px 30px 10px;
  }
}