.footer {
  background-color: #F3F3F5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer * {
	text-align: center;
}

.madeBy {
  text-align: left;
}

.madeBy {
  padding-left: 30px;
}

.rights {
  text-align: center;
}

.policies {
  text-align: right;
  padding-right: 30px;
}

@media only screen and (min-width: 40em) and (max-width: 64em)  { 
  
}

@media only screen and (max-width: 40em)  { 
	.footer {
		padding: 20px;
	}

	.footer * {
		float: none;
		text-align: center;
		padding: 0px;
		margin: 0px;
		margin-bottom: 20px;
	}

	.policies {
		margin-bottom: 0px;
	}

	.policies {
		padding-right: 0px;
	}

	.madeBy {
	  	padding-left: 0px;
	}	
}