body {
  background-color: #ffffff;
}

body *:not(.fa-angle-down) {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: underline;
  transition: 1s;
}

a:hover {
  color: #1FAFF1;
}

.page {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
}


.title {
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.heading {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #818181;
}

.subtitle {
  font-weight: normal;
}

.title .header {
  display: inline-block;
}

.text, .text {
  font-family: 'Open Sans', sans-serif !important;
  color: #818181;
}

.button {
  color: #1FAFF1;
  background-color: rgba(0,0,0,0);
  border: 5px solid #1FAFF1;
  text-decoration: none;
  font-weight: bold;
  width: 150px;
}

.button:hover {
  color: #FFFFFF;
  background-color: #1FAFF1;
}

.separator {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}