body {
  background-color: #ffffff;
}

body *:not(.fa-angle-down) {
  font-family: 'Raleway', sans-serif;
  color: #818181;
}

a {
  text-decoration: underline;
  transition: 1s;
}

a:hover {
  color: #1FAFF1;
}

.page {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
}


.title {
  margin-bottom: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.heading {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #332e71;
}

.subtitle {
  font-weight: normal;
}

.title .header {
  display: inline-block;
}

.text, .text {
  font-family: 'Open Sans', sans-serif !important;
}

.separator {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.highlight {
  color: #332e71;
}

@media only screen and (max-width: 40em)  { 
  
}

@media only screen and (min-width: 40em) and (max-width: 64em)  { 
  
}