.landing {
  background:
    url('../assets/workers.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  transition: background 2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh ;
}

.landing .layer {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(75,75,75, 0.5);
}

.services .heading {
  text-decoration: underline;
}

.services{
  text-align: center;
}

.service {
  text-align: left;
}

.dividing-image {
  height: 300px;
}

.landing *:not(.colour) {
  color: #ffffff;
  text-align: center;
}


.landing .header {
  text-align: center;
  border-bottom: solid 1px #ffffff;
  width: 50%;
  margin-left: 25%;
}

.landing .subtitle {
  padding-bottom: 5px;
}

.landing-title {
  width: 100% !important;
  z-index: 100;
}

.landing .fa {
  position: absolute;
  text-align: center;
  bottom: 5%;
  font-size: 50px;
}

.dividing-image {
  background:
    url('../assets/notes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}

.button {
  background-color: rgba(0,0,0,0);
  border: 5px solid #1FAFF1;
}

.button:hover {
  color: #FFFFFF !important;
  background-color: #1FAFF1;
}

.list {
  margin-top: 30px;
}

.contact .button * {
  color: #1FAFF1 !important;
}

.contact .button:hover * {
  color: #FFFFFF !important;
}

.boxes {
  text-align: center;
}

.description {
  height: 100% !important;
}
.boxes > .message > *, .boxes > .faq > * {
  border: 1px solid black;
  margin: 5%;
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.contact .button {
  width: 60%;
  height: auto;
  margin: 10px;
  padding: 15px;
}

.button { 
  font-weight: bold !important;
}

.boxes > div > div > p{
  height: 50px;
}

.boxes > div > div > h4{
  margin-bottom: 20px;
}

@media only screen and (max-width: 40em)  { 
  .boxes > div > div > p{
    height: 100px;
  }
}

@media only screen and (min-width: 40em) and (max-width: 64em)  { 
  .boxes > div > div > p{
    height: 130px;
  }

  .boxes > div > div > h4{
    height: 60px;
  }
}