.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh ;
}

.landing .layer {
  transition: background 2s linear;
  background:
    url('../assets/workers.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
  filter: brightness(50%);
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing .button {
  color: #818181;
}

.services .heading {
  text-decoration: underline;
}

.services{
  text-align: center;
}

.service {
  text-align: left;
}

.dividing-image {
  height: 300px;
}

.landing *:not(.colour) {
  color: #ffffff;
  text-align: center;
}


.landing .header {
  text-align: center;
  width: 100%;
  margin-left: 0%;
}

.landing .subtitle {
  padding-bottom: 5px;
}

.landing-title {
  width: 100%;
  z-index: 100;
}

.landing .fa {
  position: absolute;
  text-align: center;
  bottom: 5%;
  font-size: 50px;
}

.dividing-image {
  background:
    url('../assets/notes.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.list {
  margin-top: 30px;
}

.boxes {
  text-align: center;
}

.boxes > .message > *, .boxes > .faq > * {
  border: 1px solid #818181;
  /*margin: 5%;*/
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.fa-angle-down {
  cursor: pointer;
}

.boxes > div > div > p{
  height: 60px;
}

.boxes > div > div > h4{
  margin-bottom: 20px;
}

@media only screen and (max-width: 40em)  { 
  .boxes > div > div > p{
    height: 80px;
  }

  .services .heading {
    padding-bottom: 20px;
  }

  .boxes > .message > *, .boxes > .faq > * {
    margin: 0; 
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 40em) and (max-width: 64em)  { 
  .boxes > div > div > p{
    height: 130px;
  }

  .boxes > div > div > h4{
    height: 60px;
  }
}

@media only screen and (min-width: 40em)  { 
  .services .image {
    margin-bottom: 20px;
  }
}