.contact-me {
  background-color: #1C8FB2;
}

.contact-me .heading {
  border-bottom: 1px solid #ffffff;
}

.contact-me a {
  color: #ffffff;
}

.contact-me *:not(.form-object) {
  color: #ffffff; 
}

.email-form{
  margin: auto;
  width: 60%;
  color: #A8A8A8;
}


input[type=text], .form-object {
  border-radius: 5px;
}

.button-div {
  width: 100%;
  text-align: center;
}

input[type=button] {
  width: 20%;
  padding:5px 15px; 
  border:0 none;
  color: #818181;
  background-color: #ffffff;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  height: 4vh;
  min-height: 20px;
}

.email-button:hover {
  color: #ffffff;
  background-color: #818181;
}

.form-object:-moz-placeholder {
  color: #A8A8A8;
}

/*Small screens*/
@media only screen and (max-width: 40em)  { 
  .email-form {
    width:80%;
  }  
}