body {
  box-shadow: 0px 100VH rgba(28,143,178, 0.5) inset;
  background:
    url('assets/landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body * {
  font-family: "alwyn-new-rounded-web",sans-serif;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
}

/*Landing Page CSS*/

.landing-text * {
  color: #ffffff;
}

.landing-text {
  align-self: center;
}

.landing-text * {
  text-align: center;
  margin: -10px;
}

.landing-text > h1 {
  text-align: center;
  border-bottom: solid 1px #ffffff;
  margin-bottom: 10px;
}

.landing-text > h3 {
  text-align: center;
  margin-bottom: 2%;
}

.landing-text > .more-info {
  padding: 3px;
  border: solid 1px #ffffff;
  margin-top: 20px;
  margin: 0 auto;
  width: 75%;
}

.landing-text > .more-info:hover {
  background-color: #ffffff;
  color: #1C8FB2;
  border: solid 1px #1C8FB2;
}