.landing {
  background:
    url('../assets/guiting.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  transition: background 2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh ;
}

.landing .layer {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200,200,200, 0.5);
  /*box-shadow: 0px 100VH rgba(200,200,200, 0.5) inset;*/
}

.landing * {
  color: #ffffff;
  text-align: center;
}


.landing .header {
  text-align: center;
  border-bottom: solid 1px #ffffff;
  width: 70%;
  margin-left: 15%;
}

.landing .subtitle {
  padding-bottom: 5px;
}

.landing .title {
  width: 100%;
  z-index: 1000;
}


.more-info {
  border: solid 1px #ffffff;
  border-radius: 1000px;
  background-color: #ff6969;
  margin: 0 auto;
  width: 30%;
}

.more-info:hover {
  background-color: #ffffff;
  color: #1C8FB2;
  border: solid 1px #1C8FB2;
}

@media only screen and (max-width: 40em)  { 
  .more-info {
    width: 60%;
  }
}