body {
  background-size:100%;
width:100%;
  box-shadow: 0px 100vh rgba(28,143,178, 0.5) inset; /*Adds a layer of colour over the landing page image*/

  background: url('../assets/landing.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landing {
  display: flex;
  justify-content: center;
}

.landing * {
  color: #ffffff;
}

.landing h1 {
  border-bottom: solid 1px #ffffff;
}

.landing .heading {
  width: 40%;
}

.more-info {
  padding: 3px;
  border: solid 1px #ffffff;
  margin-top: 20px;
  margin: 0 auto;
  width: 75%;
}

.more-info:hover {
  background-color: #ffffff;
  color: #1C8FB2;
  border: solid 1px #1C8FB2;
}