.top-bar {
  background-color: rgba(28,143,178,0.8);
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1000;
  height: 45px;
  padding-left: 10%;
  padding-right: 10%;
}

.link-group, .fi-list {
  float: right;
}

.fi-list {
  font-size: 18px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.link-group a:nth-child(3) {
  margin-right: 0px;
}

.link-group a {
  margin-right: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.link-group a:not(.active){
  color: #FFFFFF;
}

.active {
  color: #F5D04C;
}

.link-group a:hover, .fi-list:hover  {
  color: #F5D04C;
}

.top-bar .name {
  float: left;
  color: #ffffff;
}

.menu-up {
  display: none;
}

.drop-down {
  z-index: 1000;
  position: fixed;
  top: 45px;
  width: 100%;
  background-color: rgba(28,143,178,0.8);
  text-align: center;
  display: none;
}

.drop-down a {
  display: block;
  color: #ffffff;
  height: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.drop-down .active {
  color: #F5D04C !important;
}