html, body {
    height: 100%;
}

body * {
	font-family: ‘American Typewriter’, ‘Courier New’, Courier, Monaco, mono;
}

.content {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}

span {
	color: #e3be42;
}


@media only screen and (max-width: 40em) {
	h4 {
		font-size: 25px;
	}
}