<div class='text'>
  <div class="image medium-6 columns show-for-medium-up">
    <img src="./assets/harley.jpg"/>
  </div>
  <div class="image medium-6 columns show-for-small-only image-mobile">
    <img src="./assets/harleySmall.jpg"/>
  </div>
  <h3 class="pageTitle">About Me</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et libero maximus, tincidunt ex quis, porttitor nunc. Pellentesque a tortor neque. Morbi id ullamcorper nulla. Nulla fringilla ante erat, viverra tincidunt libero accumsan nec. Phasellus pretium mi a volutpat mattis. Phasellus luctus lorem odio. Cras tempor <span>tempus laoreet</span>. Ut mollis, augue sit amet imperdiet euismod, magna libero maximus ante, eget condimentum dolor urna vel tortor. Donec vestibulum mattis iaculis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam egestas ultricies ullamcorper. Donec consequat velit eros, a convallis <span>nibh sagittis</span> quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam tempor dictum metus, a eleifend mauris tincidunt vitae. Ut eu tincidunt nisi. Cras facilisis lectus vel odio convallis tristique.
  </p>

  <p>
    Suspendisse est ex, porttitor ut justo nec, cursus mattis nunc. Etiam sit amet purus non elit tempor sodales. <span>Duis</span> tristique pellentesque magna vitae facilisis. Nunc dignissim tincidunt vehicula. Sed ac nisl diam. Curabitur in <span>tellus blandit</span> metus semper elementum. Etiam in dolor vitae sapien sodales lobortis.
  </p>  

  <p>
    Fusce <span>varius facilisis interdum</span>. Aliquam malesuada convallis mollis. Sed tempor eu mi non vestibulum. Mauris dictum sapien eget enim vulputate tristique. Duis hendrerit est at sapien congue tempor. Vestibulum eu sem nec sem interdum ornare. Mauris vel iaculis tellus. Nulla fermentum sollicitudin nunc non sagittis. Sed nec velit eros. Mauris fermentum, lectus nec <span>fermentum</span> tincidunt, elit mi accumsan libero, sit amet dictum massa arcu quis tellus. Mauris posuere feugiat gravida. Nam eleifend aliquam eros, gravida vehicula <span>magna accumsan eget</span>.
  </p>
</div>
