<form class='email-form' action="MAILTO:harleyrowland17@gmail.com" method="post" enctype="text/plain">
	<input class='form-object' type="text" name="name" placeholder="What is your name?">
	<input class='form-object' type="text" name="mail" placeholder="What is your E-mail?">
	<input class='form-object' type="text" name="subject" placeholder="What is the subject?">
	<textarea class='form-object' cols="40" rows="5" placeholder="Ask me anything."></textarea>
	<input class='form-object email-button' type="submit" value="Send">
</form>