<footer class="footer">
  <div class="footer-content"></div>
    <div class="icon-block show-for-medium-up">
      <a href="https://uk.linkedin.com/pub/harley-rowland/71/365/799"><img class="icon" id="linkedin" src="./assets/linkedin.png"/></a>
      <a href="https://twitter.com/HarleyRowland"><img class="icon" id="twitter" src="./assets/twitter.png"/></a>
      <a href="https://github.com/HarleyRowland"><img class="icon" id="github" src="./assets/github.png"/></a>
      <a href="https://instagram.com/harleyrowland/"><img class="icon" id="instagram" src="./assets/instagram.png"/></a>
    </div>

    <div class="icon-block show-for-small-only">
      <a href="https://uk.linkedin.com/pub/harley-rowland/71/365/799"><img class="icon" id="linkedin" src="./assets/linkedinHover.png"/></a>
      <a href="https://twitter.com/HarleyRowland"><img class="icon" id="twitter" src="./assets/twitterHover.png"/></a>
      <a href="https://github.com/HarleyRowland"><img class="icon" id="github" src="./assets/githubHover.png"/></a>
      <a href="https://instagram.com/harleyrowland/"><img class="icon" id="instagram" src="./assets/instagramHover.png"/></a>
    </div>

    <div class="rights">
      <h6>Get in Touch!</h6>
    </div>
  </div>
</footer>