<div class='text'>
	<p>
	   	I enjoy keeping fit and I been part of 2 different sports clubs during my time at Kent University (MMA and Kickboxing). I am just a beginner at both of the sports and thoroughly I enjoy the fitness aspect of training; it is helping me to train for a half-marathon that I am taking part in.
	</p>
	<p>
	    I run three times a week to train for the New Forest Half-Marathon in February. A friend asked me if I wanted to train for this with him and I saw this as a great opportunity to get fit.
	</p>
	<p class="runText"></p>
</div>