<div class='text'>
	<p>
	    I am a final-year Computer Science student studying at the University of Kent - Canterbury campus. My course has introduced me to a range of different areas of computing; from <span>Java</span>, to <span>Erlang</span>, to psychology behind why people make certain decisions on computers. From these first two years, I have achieved a <span>1st class</span> grade and am confident that will be the grade I recieve overall. My third year was a placement year working as a <span>Web Developer</span> in the Holiday Extras Web Team. 
	</p>
	<p>
	    At Holiday Extras I learnt a lot about Web Development. My time there really made me passionate about this area and I know know that <span>a career in computing</span> is something which I really want to persue. I spent the majority of the year working with <span>JavaScript</span>, <span>CSS</span> and <span>GIT</span>. 
	</p>
	<p>
		The below graph shows the different web-based programming languages I know and my skill level out of ten. 
	</p>
	<div class="progress-bars" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
	<p class="graph">
	    In my final year of University, I am going to be completing 7 different modules. 4 of which I am currently do in this term. The first is called "Internet of Things" - I have been writting programs in C & C++ to run on an embedded device - these print out on-board-sensor data for the user in a readable format. The next step is to have these programs communicate with a high-level program in Java or PHP. The second is Computer Security and Cryptography where I am learning about different encryption methods and various ciphers such as Vigenere and Transportation. Another module is "New Enterprise Start-up" - this is where I learn about how to write a business plan for an idea which I must think of. My final module (and biggest) is a group project. For our group project we have entered the RSA Design Competition. 
	</p>
</div>