.clear {
	text-align: right;
	cursor: pointer;
	text-decoration: underline;
	transition: 1s;
}

.clear:hover {
	color: #8EDCE6;	
}

.submit-button {
	padding-left: 20px;
	padding-right: 20px;
	color: #3E7CB1;
	background-color: #FFFFFF;
	border: none;
	transition: 1s;
	cursor: pointer;
	border: 1px solid #FFFFFF;
}

.submit-button:hover {
	color: #FFFFFF;
	background-color: #3E7CB1;
	border: 1px solid #FFFFFF;
}

@media only screen and (max-width: 40em)  { 
  	.clear {
  		margin-top: 5px;
		text-align: center;
	}

	.count {
		text-align: center;
	}

	.submit-button {
		margin-top: 5px;
		margin-left: 20%;
		/*width:50%;*/
	}
}