.skill-section {
	margin-top: 20px;
	float: left !important;
}

.slot * {
	margin-top: 5px;
}

.skill {
	display: flex;
 	justify-content: center;
 	align-items: center;
}

.prog-bar {
	width: 50%;
	background-color: #FBFBFF;
	height: 30px;
	margin: 5px;
	display: flex;
 	align-items: center;
 	border-radius: 10px;
}

.prog-bar div {
	background-color: #8EDCE6;
	height: 100%;
	border-radius: 7px;
	transition:2s;
}

.empty {
	visibility: hidden;
}

.prog-bars .prog-section-title {
	font-weight: bold;
	font-size: 20px;
	display: block;
}

.group {
	margin-bottom: 70px;
}