.faq-question {
	border: solid 1px #BBBBBB;
	background-color: #F0F0F0;
	text-align: center;
	padding: 5px;
}

.faq-question:hover {
	background-color: #A0A0A0;
}

.faq-question:hover *{
	color: #FFFFFF;
}

.answer {
	padding-top: 10px;
	display: none;
	padding-left: 25px;
}

/* Small Screens */
@media only screen and (max-width: 40em)  { 
	.faq-question {
		height: 60px;
	}
}

/* Medium Screens */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}
