body * {
  font-family: Futura Next, "Trebuchet MS", Arial, sans-serif !important;
  color: #003300;
}

p, .text {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy !important;
}

a {
  color: #003300;
  text-decoration: underline;
}

a:hover {
  color: #BFDF8A;
}

.title {
  margin-top: 30px;
  text-align:center;
}

.title h1 {
  color: #003300;
}

/*Small screens*/
@media only screen and (max-width: 40em)  { 

  .content p {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
  }

}