body * {
  font-family: "acumin-pro", Arial, sans-serif;
  color: #003300;
}

p, .text {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

.title *, .heading * {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy !important;
  text-align: center;
}

a {
  color: #003300;
  text-decoration: underline;
}

a:hover {
  color: #BFDF8A;
}

.title {
  margin-top: 30px;
  text-align:center;
}

.title h1 {
  color: #003300;
}

/*Small screens*/
@media only screen and (max-width: 40em)  { 

  .content p {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
  }

  h1 {
    font-size: 30px !important;
    text-align: center !important;
  }

}